<div class="col-sm-2 col-md-4">
        <p><%= image_tag(product.image_url, :class => "img-responsive") unless product.image_url.blank? %></p>
        <h1><%= link_to product.name, product %></h1>
        <p><%= product.description %></p>
        <p><%= product.color %></p>
        <p><%= @test_variable %></p>
        <p><%= link_to 'Show', product %></p>
        <p><%= link_to 'Edit', edit_product_path(product) %></p>
        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->